<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    {% if 'err==1' %}
        <h6> Login Failed. Return to Login page in 3second. </h6>
        <p> Password is not correct. Check your Password. </p>
        <meta http-equiv="refresh" content="2; {% url 'exlogin' %}">
    {% elif 'err==0' %}
        <h6> Login Failed. Return to Login page in 3second. </h6>
        <p> ID does not exists or not correct. Check your ID. </p>
        <meta http-equiv="refresh" content="2; {% url 'exlogin' %}">
    {% endif %}
{% endblock %}
</body>
</html>